body{
    font-family: 'Encode Sans SC', sans-serif;
    margin: 0px;
}
span{
    color: red;

}
h1{
    font-size: 60px;
    font-weight: bolder;
    
}
h2{
    font-size: 40px;
}
.flexible{
    display: flex;
    margin-bottom: 100px;
}
.half{
    width:50% ;
    padding: 2%;
}
p{
    text-align: justify;
    font-weight: 700;
}
.half img{
    width: 80%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 0, 0),rgba(0, 0, 0, 0.719));
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700;
    color: whitesmoke;
    box-shadow: 10px 10px 40px gray;
   
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

    
}
img{
    height: 800px;
   
}
.another-sec{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.final h3{
    color: navy;
}
.box{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left:20px ;
    padding-right: 20px;
    border-radius: 10px;
   
    
 
}
.final{
    margin-top: 200px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#jhikimiki-color{
    border-left: 7px solid;
    
    border-image: linear-gradient(black,cyan);
    border-image-slice:1;
}
#uradhura-color{
    border-left: 7px solid;
    
    border-image: linear-gradient(red,black);
    border-image-slice:1;

}
footer p{
    text-align: center;
}